<header>
    <nav>
        <div class="establishment">
            <div class="logo">
                <img [src]="API_MAIN + '/' + establishment?.icone" alt="">
            </div>
            <div class="name">
                <h1>{{establishment?.nome}}</h1>
            </div>
        </div>

        <ul>
            <li><a [routerLink]="['produtos']"><i class="fi fi-rr-box-open-full"></i>&nbsp;Produtos</a></li>
            <li><a [ngClass] ="{'counter': pedidoService.newOrders.length > 0}" [routerLink]="['pedidos']" [attr.counter]="pedidoService.newOrders.length"><i class="fi fi-rr-order-history"></i>&nbsp;Pedidos</a></li>
            <li><a [routerLink]="['loja']"><i class="fi fi-rr-shop"></i>&nbsp;Loja</a></li>
        </ul>
    </nav>
</header>
<div class="destination">
    <h4><i class="fi fi-rr-home"></i>&nbsp;home{{end}}</h4>
</div>
<router-outlet></router-outlet>