<div style="display: flex;" #dropdown>
    <button class="btn" (click)="execute()"><i class="fi fi-rr-floppy-disk-pen"></i>&nbsp;{{title}}</button>
    <div class="wrapper">
        <div class="wrapper-header" (click)="active = !active" [ngClass]="{'active' : active}">
            <span class="title">{{''}}</span>
            <span class="arrow"><i class="fi fi-rr-caret-up"></i></span>
        </div>
        <div class="wrapper-body floating">
            <ul>
                @for (option of options; track $index) {
                <li (click)="title = option;select = option ; sinalizar(); active = false">{{option}}</li>
                }
            </ul>
            <!-- } -->
        </div>
    </div>
</div>